.input-container p {
  font-size: 12pt;
  color: #5a5a5a;
}

.input-container .input-div {
  flex: 0 0 50%;
  margin: 20px auto;
}

.pinput {
  border: none;
  padding: 8px 10px;
  width: 80%;
  /* outline: none; */
  font-size: 11pt;
}
